<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('个人中心')"/>
    <link href="../../admin/css/other/center.css" rel="stylesheet"/>
    <style>
        .layui-form-item {
            margin-top: 17px !important;
            margin-bottom: 17px !important;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 25px;">
                <div class="text-center layui-text">
                    <div class="user-info-head" id="userInfoHead">
                        <img alt="" height="115px" id="avatar" src="" width="115px">
                    </div>
                    <h2 style="padding-top: 20px;font-size: 20px;" th:text="${userInfo.realName}"></h2>
                    <p style="padding-top: 8px;margin-top: 10px;font-size: 13.5px;">China ， 中国</p>
                </div>
            </div>
            <div style="height: 45px;border-top: 1px whitesmoke solid;text-align: center;line-height: 45px;font-size: 13.5px;">
                <span th:text="${userInfo.remark}">今日事 ，今日毕</span>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                登录记录
            </div>
            <div class="layui-card-body">
                <ul class="list">
                    <li class="list-item" th:each="log:${logs}"><span class="title" th:text="${log.title}"></span><span
                            class="footer" th:text="${log.createTime}"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-header">个人信息</div>
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief">
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <form class="layui-form">
                                <div class="layui-form-item layui-hide">
                                    <label class="layui-form-label">编号</label>
                                    <div class="layui-input-block">
                                        <input autocomplete="off" class="layui-input" lay-verify="title"
                                               name="userId"
                                               placeholder="请输入标题" th:value="${userInfo.userId}" type="text">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">账号</label>
                                    <div class="layui-input-block">
                                        <input autocomplete="off" class="layui-input" lay-verify="title" name="username"
                                               placeholder="请输入标题"
                                               readonly th:value="${userInfo.username}" type="text">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-block">
                                        <input autocomplete="off" class="layui-input" lay-verify="title"
                                               name="realName"
                                               placeholder="请输入标题" th:value="${userInfo.realName}" type="text">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">邮箱</label>
                                    <div class="layui-input-block">
                                        <input autocomplete="off" class="layui-input" lay-verify="title" name="email"
                                               placeholder="请输入标题" th:value="${userInfo.email}" type="text">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">电话</label>
                                    <div class="layui-input-block">
                                        <input autocomplete="off" class="layui-input" lay-verify="title" name="phone"
                                               placeholder="请输入标题" th:value="${userInfo.phone}" type="text">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">描述</label>
                                    <div class="layui-input-block">
                                        <textarea class="layui-textarea" name="details" placeholder="请输入描述"
                                                  th:text="${userInfo.remark}"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-update"
                                                lay-submit>修改资料
                                        </button>
                                        <button class="pear-btn pear-btn-sm edit-password">更改密码</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-col-md9">
                <div class="layui-card">
                    <div class="layui-card-header">最常去场馆</div>
                    <div class="layui-card-body">
                        <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">最近打卡</div>
                    <div class="layui-card-body">
                        <div class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-timeline" th:each="sysUsers:${sysUsersList}">
                                <!--                            循环-->
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title">[[${#dates.format(sysUsers.getArrivalDate(),'yyyy-MM-dd')}]]</h3>
                                        <p>
                                            场馆:[[${sysUsers.getPlaceName()}]]
                                            <br>项目:[[${sysUsers.getSportProject()}]]
                                        </p>
                                    </div>
                                </li>
                                <!--                            循环-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--数据图 做边 最常打卡-->
<input type="hidden" id="top1ArrivalPlaceName" th:value="${top1ArrivalPlaceName}">
<input type="hidden" id="top1ArrivalPlaceCount" th:value="${top1ArrivalPlaceCount}">

<input type="hidden" id="top2ArrivalPlaceName" th:value="${top2ArrivalPlaceName}">
<input type="hidden" id="top2ArrivalPlaceCount" th:value="${top2ArrivalPlaceCount}">

<input type="hidden" id="top3ArrivalPlaceName" th:value="${top3ArrivalPlaceName}">
<input type="hidden" id="top3ArrivalPlaceCount" th:value="${top3ArrivalPlaceCount}">

<input type="hidden" id="top4ArrivalPlaceName" th:value="${top4ArrivalPlaceName}">
<input type="hidden" id="top4ArrivalPlaceCount" th:value="${top4ArrivalPlaceCount}">

<input type="hidden" id="top5ArrivalPlaceName" th:value="${top5ArrivalPlaceName}">
<input type="hidden" id="top5ArrivalPlaceCount" th:value="${top5ArrivalPlaceCount}">
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['element', 'jquery', 'layer', 'form', 'convert'], function () {
        let $ = layui.jquery;
        let layer = layui.layer;
        let form = layui.form;
        let convert = layui.convert;

        $(".edit-password").click(function () {
            layer.open({
                type: 2,
                title: '修改密码',
                shade: 0.1,
                area: ['550px', '280px'],
                content: '/system/user/editPassword'
            });
            return false;
        })

        let image = new Image();
        image.src = "/system/file/download/" + [[${userInfo.avatar}]];
        image.onload = function () {
            $("#avatar").attr("src", convert.imageToBase64(image));
        }

        $("#avatar").click(function () {
            layer.open({
                type: 2,
                title: '更换图片',
                shade: 0.1,
                area: ["900px", "500px"],
                content: '/system/user/profile/' + [[${userInfo.userId}]],
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    window['layui-layer-iframe' + index].submitForm();
                }
            });
        });

        form.on('submit(user-update)', function (data) {
            $.ajax({
                url: '/system/user/updateInfo',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg("修改成功", {icon: 1, time: 1000});
                    } else {
                        layer.msg("修改失败", {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script th:inline="javascript">
    layui.use(['layer', 'echarts', 'element', 'count', 'topBar'], function () {
        let count = layui.count,
            echarts = layui.echarts;

        //下方数据表左侧 最常打卡

        var top1ArrivalPlaceName=document.getElementById("top1ArrivalPlaceName").value;
        var top1ArrivalPlaceCount=document.getElementById("top1ArrivalPlaceCount").value;

        var top2ArrivalPlaceName=document.getElementById("top2ArrivalPlaceName").value;
        var top2ArrivalPlaceCount=document.getElementById("top2ArrivalPlaceCount").value;

        var top3ArrivalPlaceName=document.getElementById("top3ArrivalPlaceName").value;
        var top3ArrivalPlaceCount=document.getElementById("top3ArrivalPlaceCount").value;

        var top4ArrivalPlaceName=document.getElementById("top4ArrivalPlaceName").value;
        var top4ArrivalPlaceCount=document.getElementById("top4ArrivalPlaceCount").value;


        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        option = {
            xAxis: {
                type: 'category',
                data: [top1ArrivalPlaceName, top2ArrivalPlaceName, top3ArrivalPlaceName, top4ArrivalPlaceName]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: [top1ArrivalPlaceCount, top2ArrivalPlaceCount, top3ArrivalPlaceCount, top4ArrivalPlaceCount],
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(220, 220, 220, 0.8)'
                    }
                }
            ]
        };
        echartsRecords.setOption(option);



        window.onresize = function () {
            echartsRecords.resize();
        }
    });


</script>
</body>
</html>
