<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.codezx.system.mapper.SysDisplayMapper">

    <select id="displayDataAboutLoginByDate" parameterType="java.lang.String" resultType="top.codezx.system.domain.SysLog">
        select * from sys_logging where title='打卡成功' and create_time between #{endDate} and #{startDate}
    </select>

</mapper>