<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('打卡登录')"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/login.css}"/>
</head>
<!-- 代 码 结 构 -->
<body background="../../../../admin/images/login.svg">
<form action="javascript:void(0);" class="layui-form">
    <div class="layui-form-item">
        <img class="logo" src="../../../../admin/images/logo.png"/>
        <div class="title">登陆签到</div>

    </div>
    <div class="layui-form-item">
        <input class="layui-input" hover name="placeName" disabled th:value="${placeName}" type="text" />
    </div>
    <div class="layui-form-item">
        <input class="layui-input" hover name="placeId" disabled th:value="${placeId}"  type="hidden" />
    </div>
    <div class="layui-form-item">
        <input class="layui-input" hover name="username" placeholder="请 输 入 账 号" type="text" />
    </div>
    <div class="layui-form-item">
        <input class="layui-input" hover name="password" placeholder="请 输 入 密 码" type="password" />
    </div>
    <div class="layui-form-item">
        <button class="pear-btn pear-btn-success login" lay-filter="login" lay-submit>
            打  卡
        </button>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;

        form.on('submit(login)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.login'});
            $.ajax({
                url: '/system/place/arrivalLogin',
                data: data.field,
                type: "post",
                dataType: 'json',
                success: function (result) {
                    layer.close(loader);
                    btn.stop(function () {
                        if (result.success) {
                            popup.success(result.msg, function () {
                                location.href = "/system/place/to/success";
                            })
                        } else {
                            location.href = "/system/place/to/fail";
                        }
                    })
                }
            });
            return false;
        });

    })
</script>
<script>
    function getParam(paramName) {
        var reg = new RegExp("(^|&)" + paramName + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
    }
</script>
</body>
</html>