<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('到场信息列表')"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/user.css}"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form action="" class="layui-form" lay-filter="user-query-form">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="realName" placeholder="" type="text">
                </div>
                <label class="layui-form-label">打卡日期</label>
                <div class="layui-input-inline">
                    <input type="date"  name="notStandardDate" class="layui-input"   placeholder="">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="arrivalUser-query" lay-submit>
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button class="pear-btn pear-btn-md" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<div class="user-main user-collasped">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="userArrivalInfo-table" lay-filter="userArrivalInfo-table"></table>
        </div>
    </div>
</div>
</body>


<script id="place-createDate" type="text/html">
    {{layui.util.toDateString(d.arrivalDate,  'yyyy-MM-dd')}}
</script>


<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'dtree', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table;
        let form = layui.form;


        layui.laydate.render({
            elem: '#arrivalDate' ,//input的id
            type: 'date'//年月日，也是默认，不要这个也可以
        });

        let MODULE_PATH = "/system/place/";

        let cols = [
            [
                {title: '姓名', field: 'realName', align: 'center', width: 110},
                {title: '打卡时间', field: 'arrivalDate', align: 'center',templet: "#place-createDate"},
                {title: '打卡场馆', field: 'placeName', align: 'center'},
            ]
        ]
        table.render({
            elem: '#userArrivalInfo-table',
            url: MODULE_PATH + 'arriveUsersInfo',
            page: true,
            cols: cols,
            skin: 'line',
            height: 'full-148',
            toolbar: '#userArrivalInfo-toolbar',
            text: {none: '暂无到场信息'},
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
                title: "刷新"
            }, 'filter', 'print', 'exports']
        });

        form.on('submit(arrivalUser-query)', function (arriveUsersInfo) {
            window.refresh(arriveUsersInfo.field);
            return false;
        });

        window.refresh = function (param) {
            table.reload('userArrivalInfo-table', {where: param});
        }
    })
</script>
</html>