<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户修改')"/>
</head>
<body>
<form action="" class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="placeId"
                                th:value="${sysPlace.placeId}" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">场馆名称</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" th:value="${sysPlace.placeName}" lay-verify="required" name="placeName" placeholder="请输入场馆名称"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公告</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" th:value="${sysPlace.notice}" name="notice" placeholder="请输入公告"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">运动项目</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" th:value="${sysPlace.sportProject}" name="sportProject" placeholder="请输入运动项目"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">管理员：</label>
                    <div class="layui-input-block">
                        <select name="managerId">
                            <option value="">[[${sysPlace.realName}]]</option>
                            <option th:each="user:${users}" th:text="${user.realName}" th:value="${user.userId}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属部门</label>
                    <div class="layui-input-block">
                        <ul class="dtree" data-id="0" id="selectDept" name="deptId"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="place-update" lay-submit=""
                    type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let dtree = layui.dtree;

        dtree.renderSelect({
            elem: "#selectDept",
            url: "/system/dept/tree",
            method: 'get',
            selectInputName: {nodeId: "deptId", context: "deptName"},
            skin: "layui",
            dataFormat: "list",
            response: {treeId: "deptId", parentId: "parentId", title: "deptName"},
            selectInitVal: [[${sysPlace.deptId}]]
        });

        form.on('submit(place-update)', function (data) {
            $.ajax({
                url: '/system/place/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("place-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>