<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <title>场馆打卡</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="../../../admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../admin/js/qcode.js"></script>
    <link href="../../admin/css/admin.css" rel="stylesheet"/>
</head>
<body>

<input id="add" type="hidden" th:value="${qrInfo}" style="width:80%" /><br />

<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body" >
                <div  class="layui-tab custom-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="text-align:center;align-items: center">
                <span style="color:#36b368;font-size:21px;align-items: center;">
                        打卡场馆：[[${placeName}]]
                </span>
                <div id="qrcode" style="background-color:#ffffff;height:300px;width: 300px;margin: 0 auto;margin-top:30px"></div>
                </div>
<!--                <table id="qrcode" ></table>-->
            </div>
        </div>
    </div>

</div>





<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 300,
        height : 300
    });

    function makeCode () {
        var elText = document.getElementById("add");
        if (!elText.value) {
            elText.focus();
            return;
        }

        qrcode.makeCode(elText.value);
    }

    makeCode();

    $("#text").
    on("blur", function () {
        makeCode();
    }).
    on("keydown", function (e) {
        if (e.keyCode == 13) {
            makeCode();
        }
    });
</script>
</body>
</html>


