<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('打卡成功')"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/error.css}"/>
</head>
<body>
<div class="content">
<!--    <img alt="" src="../../admin/images/403.svg">-->
    <div class="content-r">
        <h1>打卡成功</h1>
        <p>恭喜，场馆打卡成功</p>
<!--        <button class="pear-btn pear-btn-primary">返回首页</button>-->
    </div>
</div>
<th:block th:include="include :: footer"/>
</body>
</html>
